body{
  background-color: #e3ebb2;
}

h1 {
  text-align: center;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 25px;
  opacity: 0.6;
}

select{
  width: 120px;
  height: 50px;
  margin: 10px;
  color: #ff0000;
}

button{
  width: 120px;
  height: 70px;
  margin: 10px;
  color: #1cd167;
}

.carousel-container-inner {
  width: '50%';
}

h4{
  text-align: center;
  border-bottom: 5px solid #ff0000;
  padding-bottom: 40px;
}

.spacer{
  padding: 30px;
}


